@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
  --theme-primary: #ffffff;
}
body {
  color: #646464;
  background: #e2e2e2;
  font-family:'Varela Round', sans-serif;
}

.nav {
  color:#8a0000;
}


.login-form {
  width: 300px;
  margin: 30px auto;
}
.login-form h2 {
  color:#c55c5c;
  font-size: 26px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}
.login-form form {
  color: #fff;
  background: #8a0000;
  background: radial-gradient(circle, var(--theme-primary), var(--theme-primary));
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: 15px;
}
.login-form .form-control {
  border-color: #dfdfdf;
  box-shadow: none !important;
}
.login-form .form-control, .login-form .btn {
  min-height: 38px;        
}
.login-form input[type="email"] {
  border-radius: 2px 2px 0 0;
}
.login-form input[type="password"] {
  border-radius: 0 0 2px 2px;
  margin-top: -1px;
}    
.login-form .btn, .login-form .btn:active {        
  font-size: 15px;
  font-weight: bold;
  border-radius: 2px;
  background: #eeeeee !important;
  color: #646464;
  margin-bottom: 0;
}
.login-form .btn:hover, .login-form .btn:focus{
  background: #e4e4e4 !important;
}
.login-form a {		
  color: #9e6340;
}
.login-form form a {
  color: #fff;
}